h1 create user
form(action="/user/create", method="POST")
    label User name
    input(type="text", name="name", placeholder="Enter user name")
    label Nick name
    input(type="text", name="nick", placeholder="Enter nick name")
    button Create
