extends ../layouts/common.pug
block listUser    
    div(class="text-center mt-3")
        p
            b name : 
                span &nbsp;
                span= user.name
        p        
            b nick name :
                span &nbsp;
                span= user.nick